@charset "UTF-8";
:root {
  --main-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --project-thumb-color: #eeeeee;
  --secondary-text-color: #757575;
  --clients-border-color: #afb1b8;
  --primary-svg-color: #afb1b8;
  --svg-accent-color: #2196f3;
  --tc-link-color: #188ce8;
  --card-set-gap: 30px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  min-width: 100%;
}

button {
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.button {
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color var(--animation), box-shadow var(--animation);
}

.button:hover, .button:focus {
  background-color: var(--tc-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
  }
}

.subscribe-button {
  min-height: 50px;
  min-width: 200px;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--animation), box-shadow var(--animation);
}

.subscribe-button__icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.subscribe-button__icon:hover, .subscribe-button__icon:focus {
  background-color: var(--tc-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit__button {
  min-height: 50px;
  min-width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  outline: none;
}

.button__filter {
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__filter:hover, .button__filter:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__filter.all {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-toggle {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 21px;
  right: 25px;
  margin: 0;
  padding: 0;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.abilities__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.clients__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.team-member__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.feature__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .feature__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .feature__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: start;
  }
}

.footer-subscribe__title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__title {
    text-align: start;
  }
}

.footer-social__title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-social__title {
    text-align: start;
  }
}

.projects-item__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.team-member__social {
  padding-bottom: 24px;
}

.social__wrap {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 1200px) {
  .social__wrap {
    justify-content: center;
    align-content: center;
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--animation);
}

.social__link:hover, .social__link:focus {
  background-color: var(--svg-accent-color);
  outline: none;
}

.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--primary-white-color);
}

.social__icon {
  fill: var(--primary-svg-color);
  display: block;
  transition: fill var(--animation);
}

.footer-social__link {
  height: 44px;
  width: 44px;
  flex-basis: calc(100% / 4 - 10px);
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--animation);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--svg-accent-color);
  outline: none;
}

.footer-social__icon {
  fill: var(--primary-white-color);
  display: block;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  width: 450px;
  min-height: 610px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  height: 30px;
  width: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: transform var(--animation);
}

.modal-close:hover, .modal-close:focus {
  transform: scale(1.1);
  outline: none;
}

.modal-close:hover .modal-close__button, .modal-close:focus .modal-close__button {
  fill: var(--accent-color);
  transform: scale(1.1);
}

.modal-close__button {
  fill: #000000;
  transition: fill var(--animation), transform var(--animation);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.label__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.input-form {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 41px;
  outline: none;
  cursor: pointer;
  color: var(--main-text-color);
  transition: border-color var(--animation);
}

@media screen and (min-width: 1200px) {
  .input-form {
    width: 448px;
  }
}

.input-form:focus {
  border-color: var(--accent-color);
}

.input-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--animation);
}

.input__thumb {
  position: relative;
  margin-bottom: 10px;
}

.input__thumb:focus-within .input-form__icon {
  fill: var(--accent-color);
}

.form-text {
  width: 100%;
  height: 120px;
  outline: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  color: var(--main-text-color);
  margin-bottom: 20px;
  cursor: pointer;
  transition: border-color var(--animation);
}

.form-text:focus {
  border-color: var(--accent-color);
}

.policy__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .policy__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.policy__text .span-icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  transition: background-color var(--animation), border var(--animation);
}

.check__icon {
  fill: transparent;
  cursor: pointer;
  transition: fill var(--animation);
}

.check-box:checked + .policy__text .span-icon-check {
  border: none;
  background-color: var(--accent-color);
}

.check-box:checked + .policy__text .check__icon {
  fill: var(--primary-white-color);
}

.tc__link {
  color: var(--accent-color);
}

.tc__link:focus {
  color: var(--tc-link-color);
}

.modal__forms .submit__button {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.menu-toggle {
  height: 30px;
  width: 30px;
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: transform var(--animation);
}

.menu-toggle:hover, .menu-toggle:focus {
  transform: scale(1.1);
  outline: none;
}

.menu-toggle:hover .menu-close__button, .menu-toggle:focus .menu-close__button {
  fill: var(--accent-color);
  transform: scale(1.1);
}

.header__menu-toggle {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
  padding: 0;
}

.header__menu-toggle:hover, .header__menu-toggle:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__menu-toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-white-color);
  z-index: 999;
  padding: 48px 40px;
  transform: translateX(100%);
  transition: transform var(--animation);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  color: var(--main-text-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-align: start;
  color: var(--main-text-color);
  text-decoration: none;
}

.menu-contacts__link {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.menu-contacts__link:hover, .menu-contacts__link:focus {
  color: var(--accent-color);
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__item:last-child {
  margin-bottom: 64px;
}

.menu-socials__list {
  display: flex;
  justify-content: start;
}

.menu-socials__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-socials__link {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (mіn-width: 480px) {
  .header__container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--accent-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.02em;
}

.header__logo {
  margin-right: 93px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__logo--span {
  color: var(--main-text-color);
}

.navigation {
  display: flex;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__link {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  position: relative;
  transition: color var(--animation);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding-bottom: 37px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__link {
    padding-bottom: 32px;
  }
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  width: 100%;
  bottom: -0.5%;
  left: 0;
}

.current-menu {
  color: var(--accent-color);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition: color var(--animation);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .contacts__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    flex-direction: row;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill var(--animation);
}

.contacts__icon:hover {
  fill: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .contacts__item:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts__item:first-child {
    margin-bottom: 0;
  }
}

.hero {
  background-color: var(--hero-bg-color);
  padding: 118px 0;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk-2x.jpg);
  }
}

.feature__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (mіn-width: 480px) {
  .feature__container {
    margin: 0;
  }
}

.feature__thumb {
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .feature__thumb {
    height: 120px;
    width: 270px;
  }
}

.feature {
  background-color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .feature {
    padding: 94px 0;
  }
}

.feature__wrap {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .feature__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .feature__wrap:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .feature__wrap:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__list:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature__list {
    margin-top: -30px;
    margin-left: -30px;
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
  .feature__list:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list {
    margin-top: -30px;
    margin-left: -30px;
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
}

.abilities {
  padding: 0 0 94px 0;
  background-color: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .abilities {
    display: none;
  }
}

.abilities__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.abilities__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  position: relative;
}

.abilities__thumb {
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  min-height: 70px;
  min-width: 100%;
}

.abilities__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  background-color: var(--secondary-bg-color);
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__list {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
  .team__list:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
  .team__list:not(:last-child) {
    margin-bottom: 0;
  }
}

.team-member__content {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-member__position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .team__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.clients__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .clients__wrap {
    flex-wrap: nowrap;
  }
}

.clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__list {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  transition: border-color var(--animation);
  width: 210px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
}

.clients__list:hover svg, .clients__list:focus svg {
  fill: var(--svg-accent-color);
  color: var(--svg-accent-color);
}

@media screen and (min-width: 768px) {
  .clients__list {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    width: 226px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-white-color);
  }
  .clients__list:hover svg, .clients__list:focus svg {
    fill: var(--svg-accent-color);
    color: var(--svg-accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-basis: calc(100% / 6 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clients-border-color);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--primary-white-color);
  }
  .clients__list:hover svg, .clients__list:focus svg {
    fill: var(--svg-accent-color);
    color: var(--svg-accent-color);
  }
}

.clients__link {
  width: 226px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clients-border-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--animation);
  cursor: pointer;
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--svg-accent-color);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clients-border-color);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color var(--animation);
    cursor: pointer;
  }
  .clients__link:hover, .clients__link:focus {
    border-color: var(--svg-accent-color);
    outline: none;
  }
}

.clients__icon {
  display: block;
  fill: var(--primary-svg-color);
  margin: 16px 32px;
  transition: fill var(--animation), color var(--animation);
}

.footer__logo--span {
  text-align: center;
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .footer__logo--span {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo--span {
    text-align: start;
  }
}

.footer {
  background-color: var(--hero-bg-color);
  padding: 60px 0;
}

.footer__section {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__section {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__section {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.footer__map {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
}

.footer-contacts__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color var(--animation);
}

.footer-contacts__item:not(:last-child) {
  padding-top: 9px;
}

.footer-contacts__item:hover, .footer-contacts__item:focus {
  color: var(--primary-white-color);
}

.footer__logo {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: start;
  }
}

.footer__list {
  text-align: center;
}

.footer__list:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .footer__list {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: start;
  }
  .footer__list:last-child {
    margin-bottom: 0;
  }
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50px;
}

.footer-subscribe__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-subscribe__inputs {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__inputs {
    display: flex;
    flex-direction: row;
  }
}

.subscribe-email {
  min-height: 50px;
  min-width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  margin-bottom: 20px;
  outline: none;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: box-shadow var(--animation), border-color var(--animation);
}

@media screen and (min-width: 1200px) {
  .subscribe-email {
    margin-bottom: 0;
  }
}

.subscribe-email:hover, .subscribe-email:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: white;
}

.projects-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .projects__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.projects__item {
  transition: box-shadow var(--animation);
}

.projects__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .projects__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
  .projects__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.projects__item:hover .project-thumb__text {
  transform: translateY(0);
}

.projects__content {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--project-thumb-color);
  border-top: none;
}

@media screen and (min-width: 768px) {
  .projects__content {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .projects__content {
    flex-grow: 0;
  }
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-thumb__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--animation);
}

.filter__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-left: auto;
  justify-content: flex-start;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter__wrap {
    justify-content: center;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__wrap {
    padding-bottom: 50px;
    justify-content: center;
  }
}

.filter__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__item:nth-child(4n) {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin-bottom: 0;
  }
  .filter__item:nth-child(4n) {
    margin-left: 8px;
  }
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .filter__item {
    margin-bottom: 0;
  }
  .filter__item:nth-child(4n) {
    margin-left: 8px;
  }
}
/*# sourceMappingURL=main.css.map */