.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  width: 450px;
  min-height: 610px;
  @include desk {
    width: 528px;
    min-height: 581px;
  }
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
  padding: 40px;
}

.modal-close {
  height: 30px;
  width: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: transform var(--animation);
  &:hover,
  &:focus {
    transform: scale(1.1);
    outline: none;
    .modal-close__button {
      fill: var(--accent-color);
      transform: scale(1.1);
    }
  }
}

.modal-close__button {
  fill: #000000;
  transition: fill var(--animation), transform var(--animation);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.label__text {
  @include font(12px, 400, 1.17, 0.01em);
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.input-form {
  width: 370px;
  @include desk {
    width: 448px;
  }
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 41px;
  outline: none;
  cursor: pointer;
  color: var(--main-text-color);
  transition: border-color var(--animation);
  &:focus {
    border-color: var(--accent-color);
  }
}

.input-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--animation);
}

.input__thumb {
  position: relative;
  margin-bottom: 10px;
  &:focus-within {
    .input-form__icon {
      fill: var(--accent-color);
    }
  }
}

.form-text {
  width: 100%;
  height: 120px;
  outline: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  color: var(--main-text-color);
  margin-bottom: 20px;
  cursor: pointer;
  transition: border-color var(--animation);
  &:focus {
    border-color: var(--accent-color);
  }
}

.policy__text {
  @include font(12px, 400, 1.67, 0.03em);
  color: var(--secondary-text-color);
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  @include desk {
    @include font(14px, 400, 1.71, 0.03em);
  }
  .span-icon-check {
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    transition: background-color var(--animation), border var(--animation);
  }
}

.check__icon {
  fill: transparent;
  cursor: pointer;
  transition: fill var(--animation);
}

.check-box {
  &:checked {
    + {
      .policy__text {
        .span-icon-check {
          border: none;
          background-color: var(--accent-color);
        }
        .check__icon {
          fill: var(--primary-white-color);
        }
      }
    }
  }
}
.tc__link {
  color: var(--accent-color);
  &:focus {
    color: var(--tc-link-color);
  }
}

.modal__forms {
  .submit__button {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
